<p>Choose an image from your device to set as your profile picture</p>

<label class="uploade-file-btn outline-btn" for="local_image" id="label">Choose Image</label>
<input type="file" id="local_image" name="local_image" />
