
// ----------------------------------------------
// ACCOUNT PAGE
// ----------------------------------------------

.email-verify-msg {
  margin-bottom: 2.5em;
}

.edit-email-box {
  md-input-container {
    margin-bottom: 0;
    width: 100%;
  }
}
