
$primary: 'deep-orange';
$accent: "pink";
$warn: "red";

$color-green: #3eba96;
$color-green-light: #defff6;
$color-alert: #e072ba;

//$color-text: #6d7793;
$color-text: #4b5264;
$color-border: #eef2f5;
//$color-text: #424770;

@import 'ember-paper';

@import 'base';
@import 'gate';
@import 'top-bar';
@import 'forms';
@import 'content-preloader';
@import 'grading';
@import 'account';
@import 'inputs';
@import 'buttons';
@import 'card';
@import 'custom-dialog';
@import 'inline-preloader';

@import 'profile';
@import 'checking';
@import 'ranking';
@import 'notifications';
@import 'workplace';

@import 'media-queries';
