
// ----------------------------------------------
// TOP LEVEL
// ----------------------------------------------

body {
  background: #f5f5f5;
}

html,
body,
body > .ember-view ,
.app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button.md-primary.md-raised {
  font-size: 1em;
  box-shadow: none !important;
  background-color: color($primary, '400') !important;
}



// ----------------------------------------------
// APP WRAPPERS
// ----------------------------------------------

.app-container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  .inner-sidenav {
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, */
  }

  md-card-content {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
  }
}



// ----------------------------------------------
// SIDE NAVIGATION
// ----------------------------------------------

md-sidenav {
  border-right: 1px solid #e8e6e6;
  margin-top: 4em;

  md-divider.paper-divider {
    border-top-color: rgba(0, 0, 0, 0.07);
  }

  md-content {
    padding-top: 1em;
  }

  button p {
    padding-top: 0.2em;
    font-size: 1.1em;
    color: #666;
  }

  a {
    color: #666;
    text-decoration: none;

    p {
      padding-top: 0.2em;
      font-size: 1.1em;
    }
  }

  a.active {
    md-icon {
      color: color($primary);
    }

    p {
      color: color($primary);
    }
  }
}

md-sidenav.md-locked-open {
  margin-top: 0;
}



// ----------------------------------------------
// APP PAGE
// ----------------------------------------------

.app-page {
  padding-bottom: 4em;

  .app-page-header {

    .app-page-title {
      font-size: 1.4em;
      padding: 1em 0.7em;
      color: #888;
    }
  }
}


// ----------------------------------------------
// APP PAGE CARD
// ----------------------------------------------

.app-page-card {
  background: #FFF;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e8e6e6;
  margin: 0 0.5em 0.5em;

  .card-header {
    height: 4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);;

    .info-btn md-icon,
    .folding-btn md-icon {
      font-size: 2.5em;
      color: #999;
      padding: 0.2em;
      padding-right: 0.26em;
      padding-top: 0.23em;
      line-height: 0.7em;

      &:hover {
        cursor: pointer;
        color: #333;
      }
    }

    .info-btn md-icon {
      font-size: 1.8em;
      padding-top: 0.4em;
    }
  }

  .card-title {
    font-size: 1.16em;
    margin-left: 1em;
    color: #888;
    font-weight: 500;
  }

  .card-info {
    color: #656565;
    padding: 1.4em 1.5em 1.4em;
    margin: 0;
    line-height: 1.4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }

  .card-content {
    padding: 1em;

    .label {
      color: #888;
    }

    .value {
      color: #333;
      font-weight: 500;
      margin-left: 0.5em;
    }
  }

  md-switch {
    margin-left: 0;
  }
}


// ----------------------------------------------
// FORM
// ----------------------------------------------

.inline-form {
  background: #f9f9f9;
  padding: 0 0 1em;;
  border: 1px solid #f0f0f0;

  .title {
    color: #666;
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
    background: #f0f0f0;
  }

  .form {
    padding: 1em;
  }
}



// ----------------------------------------------
// INFO ITEMS
// ----------------------------------------------

.info-item {
  font-size: 1.1em;
  color: #888;
  padding-bottom: 0.8em;

  span {
    //font-size: 1.1em;
    color: #111;
  }
}


// ----------------------------------------------
// GRADE
// ----------------------------------------------

.grade-box {
  font-size: 1.4em;
  color: #333;

  div {
    display: inline-block;
  }

  .avg-grade {
    font-weight: 500;
  }

  .grade-sep {
    height: 1em;
    width: 1px;
    background-color: #888;
    margin: 0 0.3em;
    position: relative;
    top: 0.13em;
  }

  .total-grades {
    color: #888;
    font-size: 0.7em;
    position: relative;
    top: -0.3em;
  }
}
