
// ----------------------------------------------
// BUTTONS
// ----------------------------------------------

.outline-btn, .filled-btn, .text-btn {
  font-size: 1.1em;
  padding: 0.7em 1.2em;
  display: inline-block;
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: 0.75em 0;
  min-width: 5em;
  text-align: center;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}

.outline-btn {
  border-color: lighten(color($primary), 20);
  background: #FFF;

  &:hover {
    border-color: color($primary);
  }
}

.outline-btn.centered,
.filled-btn.centered,
.text-btn.centered {
  width: 15em;
  margin: 1.4em auto;
  display: block;
}

.outline-btn.center, .filled-btn.center {
  margin: 1em auto;
  width: 10em;
  display: block;
}

.outline-btn.full-width, .filled-btn.full-width {
  width: 100%;
  min-width: 100%;
}

.outline-btn.w100, .filled-btn.w100 {
  width: 100%;
  text-align: center;
}

.outline-btn, .text-btn {
  color: color($primary);

  &:hover {
    color: color($primary);
  }
}

.filled-btn {
  background: lighten(color($primary), 10);
  color: #FFF;

  &:hover {
    background: color($primary);
  }
}

.text-btn {
  border-color: transparent;

  &:hover {
    border-color: transparent;
  }
}
