// ----------------------------------------------
// APP PAGE CARD
// ----------------------------------------------

.app-page-card {
  background: #FFF;
  border-radius: 8px;
  //overflow: hidden;
  //border: 1px solid #e8e6e6;
  box-shadow: 0 1px 2px rgba(50,50,93,.13);
  margin: 0 0.5em 1.5em;

  .card-header {
    height: 4em;
    border-bottom: 1px solid $color-border;

    .header-btn md-icon {
      font-size: 2em;
      color: lighten($color-text, 30);
      padding: 0.5em 0.3em;
      line-height: 1em;
      cursor: pointer;

      &:hover {
        color: $color-text;
      }
    }

    .header-btn.folding md-icon {
      font-size: 2.5em;
      line-height: 0.9em;
      padding-left: 0;
    }
  }

  .card-title, .card-title-count {
    font-size: 1.26em;
    margin-left: 0.7em;
    color: $color-text;
    font-weight: 500;
  }

  .card-title-count {
    color: lighten($color-text, 20);
    font-weight: 400;
  }

  .card-info, .info-message {
    color: lighten($color-text, 10);
    margin: 0;
    line-height: 1.6em;
    padding: 0.5em;
    font-size: 1.1em;
  }

  .info-message.center {
    text-align: center;
  }

  .card-info {
    border-bottom: 1px solid $color-border;
    padding: 1.4em 1.5em 1.4em;
  }

  .card-content {
    padding: 1em;
    //background: rgba(246, 249, 252, 0.3);

    .label {
      color: lighten($color-text, 10);
    }

    .value {
      color: darken($color-text, 20);
      font-size: 1.2em;
      margin-left: 0.5em;
    }

    ol {
      padding: 0;
      margin: 0;
    }
  }

  md-switch {
    margin-left: 0;
  }

  .card-header-preloader {
    visibility: hidden;
  }
}

.app-page-card.preloader {
  .card-header-preloader {
    visibility: visible;
  }
}

.app-page-card.form {
  padding-left: 0.5em;
  padding-right: 0.7em;

  .card-info {
    padding-left: 0;
    padding-right: 0;
  }
}
