// ----------------------------------------------
// APP PAGE CARD
// ----------------------------------------------

.app-page-card {
  background: #FFF;
  border-radius: 8px;
  overflow: hidden;
  //border: 1px solid #e8e6e6;
  box-shadow: 0 1px 2px rgba(50,50,93,.13);
  margin: 0 0.5em 1.5em;

  .card-header {
    height: 4em;
    border-bottom: 1px solid $color-border;

    .info-btn md-icon,
    .folding-btn md-icon {
      font-size: 2.5em;
      color: lighten($color-text, 30);
      padding: 0.2em;
      padding-right: 0.26em;
      padding-top: 0.23em;
      line-height: 0.7em;
      cursor: pointer;

      &:hover {
        color: $color-text;
      }
    }

    .info-btn md-icon {
      font-size: 1.8em;
      padding-top: 0.4em;
    }
  }

  .card-title {
    font-size: 1.1em;
    margin-left: 1em;
    color: $color-text;
    font-weight: 500;
  }

  .card-info, .info-message {
    color: lighten($color-text, 10);
    margin: 0;
    line-height: 1.6em;
    padding: 0.5em;
  }

  .card-info {
    border-bottom: 1px solid $color-border;
    padding: 1.4em 1.5em 1.4em;
  }

  .card-content {
    padding: 1em;
    background: rgba(246, 249, 252, 0.3);

    .label {
      color: lighten($color-text, 10);
    }

    .value {
      color: darken($color-text, 20);
      font-size: 1.2em;
      margin-left: 0.5em;
    }
  }

  md-switch {
    margin-left: 0;
  }
}

.app-page-card.form {
  padding-left: 0.5em;
  padding-right: 0.7em;

  .card-info {
    padding-left: 0;
    padding-right: 0;
  }
}
