
// ----------------------------------------------
// CHECKING
// ----------------------------------------------

.checkin-status-box {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2em;

  .header {
    background-color: #c5faec;
    padding: 1em;

    .title {
      color: $color-green;
      font-size: 1.4em;
      font-weight: 500;
      margin-bottom: 0;
    }

    md-icon {
      font-size: 2em;
      height: 1em;
      color: $color-green;
    }
  }

  .meta-box {
    background-color: $color-green-light;
    padding: 1em;

    .from-now {
      color: $color-green;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    .full-time {
      color: $color-green;
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }
  }
}

.checkin-status-box.out {
  .header {
    background-color: #eeeeee;

    .title {
      color: #888;
    }

    md-icon {
      color: #bababa;
    }
  }

  .meta-box {
    background-color: #f5f5f5;

    .from-now {
      color: #888;
    }

    .full-time {
      color: #999;
    }
  }
}

.checkin-history-list {
  .checkin-history-item {
    padding: 0.8em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

    &:hover {
      cursor: pointer;
    }

    .header {
      margin-bottom: 1em;

      span {
        display: inline-block;
        color: #444;
      }

      .hours {
        margin-left: auto;
        color: #888;
      }
    }

    .checked-in, .checked-out {
      color: #888;
      margin-bottom: 0.5em;

      md-icon {
        opacity: 0.5;
        margin-right: 0.4em;
      }
    }
  }

  .checkin-history-item:last-child {
    border: none;
  }
}
