// ----------------------------------------------
// FORMS
// ----------------------------------------------

.inline-form {
  padding: 0 0 1em;;
  border: 2px solid color($primary, "100");
  border-radius: 5px;

  .form {
    padding: 1em;

    .info {
      color: $color-text;

      span {
        font-size: 1.2em;
        color: #222;
      }
    }
  }
}

.message-box {
  position: relative;
  margin-bottom: 1em;

  md-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .message {
    display: inline-block;
    margin-left: 2em;
    padding-top: 0.1em;
  }
}

.message-box.error {
  md-icon {
    color: $color-alert;
  }

  .message {
    color: $color-alert;
  }
}

.message-box.success {
  md-icon {
    color: $color-green;
  }

  .message {
    color: $color-green;
  }
}

.preloader {
  margin-top: 0.5em;
}

.preloader.visible {
  opacity: 1;
}

.preloader.hidden {
  opacity: 0;
}

.remote-error {
  color: $color-alert;
  text-align: center;
  padding: 0.5em;
}



// ----------------------------------------------
// CHECKBOX
// ----------------------------------------------

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
  background-color: color($primary);
}

md-checkbox.md-default-theme:not(.md-checked) .md-icon,
md-checkbox:not(.md-checked) .md-icon {
  border-color: $color-text;
}

md-checkbox .md-label {
  color: $color-text;
  font-size: 1.1em;
}



// ----------------------------------------------
// SELECT
// ----------------------------------------------

.ember-basic-dropdown-content {
  z-index: 1000 !important;
}

.md-select-menu-container.md-active md-select-menu {
  width: 80%;
  // margin-left: 0.4em;
  border-radius: 10px;
  box-shadow: 0 4px 36px 0px rgba(0, 0, 0, 0.3);
}

.requests md-input-container {
  margin: 2.5em 0 0;
  font-size: 1.4em;
  width: 100%;
  box-sizing: border-box;
}

md-select-menu.md-default-theme {
  font-size: 1.5em;
}
