// ----------------------------------------------
// FORMS
// ----------------------------------------------

.inline-form {
  padding: 0 0 1em;;
  border: 2px solid color($primary, "100");
  border-radius: 5px;

  .form {
    padding: 1em;

    .info {
      color: #444;

      span {
        font-size: 1.2em;
        color: #222;
      }
    }
  }
}

.message-box {
  position: relative;
  margin-bottom: 1em;

  md-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .message {
    display: inline-block;
    margin-left: 2em;
    padding-top: 0.1em;
  }
}

.message-box.error {
  md-icon {
    color: $color-alert;
  }

  .message {
    color: $color-alert;
  }
}

.message-box.success {
  md-icon {
    color: $color-green;
  }

  .message {
    color: $color-green;
  }
}

.preloader {
  margin-top: 0.5em;
}

.preloader.visible {
  opacity: 1;
}

.preloader.hidden {
  opacity: 0;
}

.remote-error {
  color: $color-alert;
  text-align: center;
  padding: 0.5em;
}
