
// ----------------------------------------------
// INPUTS
// ----------------------------------------------

md-input-container.md-default-theme {
  margin: 1em 0 0;
  width: 100%;
  padding: 0;

  .pass-visibility-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    md-icon {
      color: rgba(0,0,0,0.6) !important;
      font-size: 1.6em;
      height: 1em;
      padding: 0.3em;
      position: relative;
      top: -0.2em;
    }
  }

  label {
    color: #666;
    font-size: 1.16em;
    padding-bottom: 0.2em;
  }

  label:after {
    color: transparent !important;
  }

  .md-input {
    color: #333;
    font-size: 1.4em;
  }

  [ng-message] {
    font-size: 0.8em;
    line-height: 1em;
    padding-top: 0.8em;
  }

  .md-errors-spacer {
    min-height: 2em;
  }

  .paper-input-error {
    color: $color-alert !important;
  }
}

md-input-container.md-default-theme.md-input-invalid [ng-message] {
  color: $color-alert;
}

md-input-container.md-default-theme.md-input-invalid {
  label {
    color: $color-alert;
  }
  .md-input {
    border-color: $color-alert;
  }
}

md-input-container.md-default-theme.md-input-invalid.md-input-focused {
  label {
    color: $color-alert;
  }
}

// Fix for counter in inputs

.md-char-counter {
  display: none;
}

md-input-container.md-input-focused .md-char-counter,
md-input-container.md-input-invalid .md-char-counter {
  display: block;
}
