
// ----------------------------------------------
// INPUTS
// ----------------------------------------------

md-input-container.md-default-theme {
  margin: 1em 0 0;
  width: 100%;
  padding: 0;

  label {
    color: #666;
    font-size: 1.1em;
  }

  .md-input {
    color: #333;
    font-size: 1.1em;
  }

  [ng-message] {
    font-size: 0.8em;
    line-height: 1em;
    padding-top: 0.8em;
  }

  .md-errors-spacer {
    min-height: 2em;
  }
}

md-input-container.md-default-theme.md-input-invalid [ng-message] {
  color: $color-alert;
}

md-input-container.md-default-theme.md-input-invalid {
  label {
    color: $color-alert;
  }
  .md-input {
    border-color: $color-alert;
  }
}

md-input-container.md-default-theme.md-input-invalid.md-input-focused {
  label {
    color: $color-alert;
  }
}

// Fix for counter in inputs

.md-char-counter {
  display: none;
}

md-input-container.md-input-focused .md-char-counter,
md-input-container.md-input-invalid .md-char-counter {
  display: block;
}
