
// ----------------------------------------------
// With GT 500px
// ----------------------------------------------

@media (max-width: 360px) {
  body {
    font-size: 80%;
  }

  .outline-btn.centered,
  .filled-btn.centered,
  .text-btn.centered {
    width: 100%;
  }
}

@media (min-width: 361px) and (max-width: 410px) {
  body {
    font-size: 90%;
  }
}

@media (min-width: 600px) {
  .app-page {
    .app-page-header {
      .app-page-title {
        padding: 1em 1.3em;
      }
    }
  }

  .app-page-card {
    margin: 0 1.5em 1.5em;
  }
}

@media (min-width: 960px) {
  .app-page-card {
    max-width: 600px;
  }

  .app-page.centered {
    width: 600px;
    margin: 0 auto;
  }
}
