
// ----------------------------------------------
// With GT 500px
// ----------------------------------------------

@media (max-width: 360px) {
  body {
    font-size: 80%;
  }

  .outline-btn.centered,
  .filled-btn.centered,
  .text-btn.centered {
    //width: 100%;
  }
}

@media (min-width: 361px) and (max-width: 600px) {
  body {
    font-size: 90%;
  }

  .gate-page .form {
    max-width: 350px;
  }
}

@media (min-width: 600px) {
  .app-page {
    .app-page-header {
      .app-page-title {
        padding: 1em 1.3em;
      }
    }
  }

  .app-page-card,
  .yesterday-grading-box {
    margin: 0 1em 1.5em;
  }

  .gate-page .form {
    max-width: 380px;
  }

  md-sidenav {
    width: 400px !important;
  }
}

@media (min-width: 960px) {
  .app-page-card,
  .yesterday-grading-box {
    max-width: 600px;
  }

  .app-page.centered {
    width: 600px;
    margin: 0 auto;
  }

  .app-page-header {
    display: none;
  }

  .app-page {
    padding-top: 2em;
  }

  md-list-item .md-no-style {
    padding-top: 0.3em;
  }

  md-sidenav md-list-item p {
    padding-top: 0.3em;
    font-size: 1em;
  }
}
