
// ----------------------------------------------
// With GT 500px
// ----------------------------------------------

@media (max-width: 360px) {
  body {
    font-size: 80%;
  }
}

@media (min-width: 361px) and (max-width: 410px) {
  body {
    font-size: 90%;
  }
}

@media (min-width: 600px) {
  .sign-up-form {
    width: 500px;
    margin: 1em auto 4em;
  }
}
