
// ----------------------------------------------
// PROFILE PAGE
// ----------------------------------------------

.profile-intro .profile-image {
  width: 10em;
  height: 10em;
  padding-top: 1em;
}

.profile-image {
  margin: 0 auto;
  overflow: hidden;

  md-icon {
    font-size: 10em;
    height: 1em;
    color: lighten($color-text, 40);
  }

  img {
    width: 10em;
    height: 10em;
    border-radius: 10em;
    background-color: lighten($color-text, 40);
  }
}

.profile-name {
  display: block;

  h1 {
    font-size: 1.6em;
    color: darken($color-text, 20);
    font-weight: 400;
    padding: 1em;
    text-align: center;
    margin: 0;
  }
}

.main-grade {
  border-bottom: 1px solid $color-border;
  padding: 0.5em 0.46em 1.2em;

  div {
    display: inline-block;
  }

  .label {
    color: lighten($color-text, 10);
    font-size: 0.9em;
    margin-left: 0.7em;
  }

  .grade {
    font-size: 2em;
    color: $color-text;
    font-weight: 500;
  }

  .grade-total-box {
    .label {
      margin-left: 0;
      margin-right: 0.7em;
    }

    .grade {
      color: lighten($color-text, 20);
    }
  }
}

.grade-details {
  padding: 0 0.66em;

  .individual-grade-box {
    border-bottom: 1px solid $color-border;
    padding: 0.6em 0;
  }

  .individual-grade-box:last-child {
    border: none;
  }

  .grade-index {
    color: lighten($color-text, 10);
    margin-right: 0.5em;
  }

  .star-box {
    margin-left: 0.5em;

    md-icon {
      color: lighten($color-text, 40);
      font-size: 1.3em;
      height: 1em;
      padding: 0.3em 0.2em 0;
    }
  }

  .number-of-grades {
    color: lighten($color-text, 10);
    font-weight: 500;
  }
}
