
// ----------------------------------------------
// SIGN UP
// ----------------------------------------------

.sign-up-form {
  margin: 1em 0.5em 4em;

  .filled-btn,
  .outline-btn {
    width: 16em;
    margin: 0.5em auto;
    display: block;
    text-align: center;
  }
}
