
// ----------------------------------------------
// TOPBAR
// ----------------------------------------------

.top-bar {
  width: 100%;
  height: 4em;
  z-index: 120;
  background: #FFF;
  box-shadow: 0 0 3px rgba(0,0,0,0.15);

  .logo {
    padding: 0 1em;
    width: 7em;
    opacity: 0.88;
  }

  .menu-btn {
    padding: 0.5em;
    cursor: pointer;

    md-icon {
      font-size: 2.5em;
      display: block;
      color: $color-text;
      height: 1em;
    }
  }

  .top-bar-btn {
    cursor: pointer;

    md-icon {
      font-size: 2.2em;
      padding: 0.3em;
      color: #99a0b4;
      height: 1em;
    }
  }

  .top-bar-btn.green {
    md-icon {
      color: $color-green;
    }
  }

  .top-bar-btn.alert {
    md-icon {
      color: $color-alert;
    }
  }

  .business {
    color: color($primary);
    font-size: 1.2em;
    padding-top: 0.4em;
  }
}

.bottom-bar {
  width: 100%;
  height: 4em;
  z-index: 20;
  background: #FFF;
  box-shadow: 0 0 3px rgba(0,0,0,0.15);

  .bottom-bar-btn {
    cursor: pointer;
    padding: 0.5em;

    md-icon {
      font-size: 2.2em;
      padding: 0.2em;
      color: #99a0b4;
      height: 1em;
    }
  }

  .active .bottom-bar-btn md-icon {
    color: color($primary);
  }
}
