
// ----------------------------------------------
// TOPBAR
// ----------------------------------------------

.top-bar {
  width: 100%;
  height: 4em;
  z-index: 120;
  background: #FFF;
  box-shadow: 0 0 3px rgba(0,0,0,0.15);

  .logo {
    padding: 0 1em;
    width: 7em;
    opacity: 0.88;
  }

  .menu-btn {
    padding: 0.5em;
    cursor: pointer;

    md-icon {
      font-size: 2.5em;
      display: block;
      color: $color-text;
      height: 1em;
    }
  }

  .md-button.md-icon-button.menu-btn {
    padding: 0.3em;
    width: auto;
    height: auto;
  }

  .top-bar-btn {
    cursor: pointer;

    md-icon {
      font-size: 2.2em;
      padding: 0.3em;
      color: #bababa;
      height: 1em;
    }
  }

  .top-bar-btn.green {
    md-icon {
      color: $color-green;
    }
  }
}
