<div class="layout-column card">
  <h3 class="title">Account</h3>
  <p>created: <span class="value">{{moment-calendar model.created}}</span></p>
  <p>updated: <span class="value">{{model.updated}}</span></p>
  <p>verified: <span class="value">{{model.email_verified}}</span></p>
  <p>email: <span class="value">{{model.email}}</span></p>
</div>
