<div class="layout-column card">
  <h3 class="title">Account</h3>
  <p>updated_at: <span class="value">{{moment-calendar model.created_at}}</span></p>
  <p>email: <span class="value">{{model.email}}</span></p>
  <p>email_verified: <span class="value">{{model.email_verified}}</span></p>
  <p>restaurant: <span class="value">{{model.restaurant}}</span></p>
</div>
