{{#if session.isAuthenticated}}
  {{#app-main
    signOut="signOut"
    signUpRestaurant="signUpRestaurant"
    goToSignIn="goToSignIn"
    goToChecking="goToChecking"
  }}
    {{outlet}}
  {{/app-main}}

{{else}}
  <div class="gate-page">
    {{outlet}}
  </div>
{{/if}}
