{{#app-page title="Check In/Out"}}
  {{#app-page-card title="Checking"}}
    <p>Name: {{model.profile.first_name}} {{model.profile.last_name}}</p>
    {{grade-box model.grades}}
  {{/app-page-card}}
{{/app-page}}
