<div class="layout layout-align-center-center">
  <div class="layout-column card">
    <h3>Name</h3>
    <h1>{{model.user_name}}</h1>
    <h3>email</h3>
    <h2>{{model.user_email}}</h2>
  </div>
</div>
