<div class="layout layout-align-center-center">
  <div class="layout-column card">

    {{#each model as |user|}}
      <h3>{{user.uid}}</h3>
      <h3>{{user.first_name}} {{user.last_name}}</h3>
      <h3>{{user.email}}</h3>
    {{/each}}
  </div>
</div>
