{{#app-page title="Grading"}}
  {{#app-page-card title="Gradable users"}}
    {{#if model}}
      {{#each model as |profile|}}
        {{gradable-user
          first_name=profile.first_name
          last_name=profile.last_name
          profile_image=profile.profile_image
          profile_id=profile.id
          action="gradeUser"}}
      {{/each}}

    {{else}}
      <div class="info-message">
        No gradable users at this moment
      </div>
    {{/if}}
  {{/app-page-card}}
{{/app-page}}
