<div class="layout layout-align-center-center">
  <div class="layout-column login-form card">
    <h3 class="form-title">Sign Up</h3>
    {{paper-input label="E-mail" type="email" value=email onChange=(action (mut email))}}
    {{paper-input label="Password" type="password" value=password onChange=(action (mut password))}}
    {{#paper-button raised=true primary=true onClick=(action "signIn")}}Sign In{{/paper-button}}
  </div>
</div>
